<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <h2 style="  font-family: 'Arial', sans-serif;
           font-size: 2rem;
           font-weight: bold;
           color: #007bff;
           text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
           margin-bottom: 0;
           line-height: 1.2; text-align: center;"><i>WonderLust</i></h2>
          &nbsp; &nbsp; &nbsp; &nbsp;
          <a class="nav-link "  href="/listings">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">New List</a>
        
        </div>
      </div>
    </div>
  </nav>