<% layout('/layout/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
        <body>
            <h3>Create new List</h3>
            <form action="/listings/new" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" placeholder="Enter title" class="form-control" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" placeholder="Enter description" class="form-control" required></textarea>
                    <div class="invalid-feedback">This field is required</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">URL of Image</label>
                    <input type="text" name="image" placeholder="Enter link of image" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number"  name="price" placeholder="Enter price" class="form-control" required>
                    <div class="invalid-feedback"> Enter valid number!!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" placeholder="Enter location" class="form-control" required>
                    <div class="invalid-feedback"> Enter valid location!!</div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" placeholder="Enter country" class="form-control" required>
                    <div class="invalid-feedback"> Enter valid country!!</div>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </body>
    </div>
</div>
